
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body { 
    font-size: 16xp;
    font-family: 'Big Shoulders Text', cursive;
  }
  
  a {
    color: #070707;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container 
  {
    width: 90%;
    
  }
  

  
  .nav-main { 
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }
  
  .nav-brand {
    width: 50px;
  }
  
  /* Nav left */
  
  .nav-main ul {
    display: flex;
  }
  
  .nav-main ul li {
    padding: 10px;
  }
  
  .nav-main ul li a {
    padding: 2px;
  }
  
  .nav-main ul li a:hover {
    border-bottom: 2px solid #ffffff 
  }
  
  .nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
  }
  
  .menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
  }
  hr {
  margin: 10px 0;
}

  

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Balsamic Sans';
}
header{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
section{
    border: 2px solid #5624d0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}
label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;

}
label:hover{
    background: #cec0fc;
}
button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;

    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background: #000;
    color: #fff;
}
h2{
    text-align: center;
}
#resultado{
    font-size: 30px;
    color: darkred;
}